@font-face {
    font-family: digivolve;
    src: url(/src/app/styles/pixel-digivolve-font/PixelDigivolve-mOm9.ttf);
}
@font-face {
    font-family: digivolveItalic;
    src: url(/src/app/styles/pixel-digivolve-font/PixelDigivolveItalic-dV8R.ttf);
}
