//
// IMPORTS
//
@import './custom';
@import './variables';
@import './fonts';
//
// GLOBAL
//

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
html,
body {
    box-sizing: border-box;
    height: 100%;
    font-family: digivolve;
}
body {
    display: flex;
    flex-direction: column;
    background-color: #b5e3f1;
    text-align: center;
}
//
// LOGO DIGIMON
//
.logo {
    width: 650px;
}
@media all and (max-width: 1280px) {
    .logo {
        width: 50vw;
    }
}
//
// HEADER
//
.header {
    height: auto;
    padding: 1rem;
}
//
// MAIN
//
.main {
    height: calc(100% - header);
}
h1 {
    font-size: 5rem;
    font-family: digivolveItalic;
    padding: 1rem 0;
    img {
        width: 150px;
    }
}
@media all and (max-width: 480px) {
    h1 {
        font-size: 3rem;
        font-family: digivolveItalic;
        padding: 0.5rem 0;
        img {
            width: 75px;
        }
    }
}
@media all and (min-width: 480px) and (max-width: 768px) {
    h1 {
        font-size: 4rem;
        font-family: digivolveItalic;
        padding: 1.5rem 0;
        img {
            width: 100px;
        }
    }
}
ul {
    padding: 2rem;
    li {
        list-style-type: none;
    }
}

.flex {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.flex-btns {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    input {
        margin: 0.5rem auto;
        width: 300px;
    }
}

//
// LIST VIEW
//
.flex-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: calc(100vw / 5);
    padding: 2rem;
    .digimon-list-img {
        border-radius: 5rem;
        border: solid black 0.5rem;
    }
    h3 {
        font-size: 1.5rem;
    }
}
@media all and (max-width: 480px) {
    .flex-list {
        width: 90vw;
        .digimon-list-img {
            border-radius: 5rem;
            border: solid black 0.5rem;
        }
    }
}

@media all and (min-width: 480px) and (max-width: 768px) {
    .flex-list {
        width: 200px;
        // background: crimson;
        padding: 0.5rem;
        .digimon-list-img {
            border-radius: 5rem;
            border: solid black 0.5rem;
        }
        h3 {
            font-size: 1.5rem;
        }
    }
}
@media all and (min-width: 768px) and (max-width: 1024px) {
    .flex-list {
        width: 300px;
        // background: seagreen;
        padding: 0.5rem;
        .digimon-list-img {
            border-radius: 5rem;
            border: solid black 0.5rem;
        }
        h3 {
            font-size: 1.5rem;
        }
    }
}
@media all and (min-width: 1024px) and (max-width: 1280px) {
    .flex-list {
        width: 400px;
        // background: gold;
        padding: 0.5rem;
        .digimon-list-img {
            border-radius: 5rem;
            border: solid black 0.5rem;
        }
        h3 {
            font-size: 1.5rem;
        }
    }
}
//
// DETAIL VIEW
//
.flex-detail {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    padding: 2rem;
}
@media all and (max-width: 480px) {
    .flex-detail {
        width: 350px;
    }
}
@media all and (min-width: 480px) and (max-width: 768px) {
    .flex-detail {
        width: 400px;
    }
}
@media all and (min-width: 768px) and (max-width: 1024px) {
    .flex-detail {
        width: 500px;
    }
}
@media all and (min-width: 1024px) and (max-width: 1280px) {
    .flex-detail {
        width: 550px;
    }
}

.digimon-detail-img {
    border-radius: 5rem;
    border: solid black 0.5rem;
}

// @media all and (max-width: 480px) {
// }
// @media all and (min-width: 480px) and (max-width: 768px) {
// }
// @media all and (min-width: 768px) and (max-width: 1024px) {
// }
// @media all and (min-width: 1024px) and (max-width: 1280px) {
// }
